<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <script>
        $(document).ready(() => storeFront.init('<%=businessUri%>', <%=businessId%>));
    </script>
</head>
<body>
<%- include('./partials/menu'); %>
<div id="addModal" class="add-to-queue-modal container">
    <div class="row">
        <div class="col">
            <i id="closeModal" class="fa fa-times-circle"></i>
            <h2 class="text-center">Join the Waiting list</h2>
            <p>Name:</p>
            <input type="text" name="name" id="name" value="Simon Hoblik" />
            <p>Phone:</p>
            <input type="text" name="phone" id="phone" value="6572822679" />
            <p>Party Size:</p>
            <select name="size of party" id="size">
                <option value="1">1</option>
                <option value="2" checked>2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10"10></option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
            </select>
            <div class="btn-container text-end">
                <button id="addPartyButton" class="standard-btn">Submit</button>
            </div>
        </div>
    </div>

</div>
<main class="store-front container">
<!--    <%- include('./partials/header'); %>-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 id="storeName"></h1>
            </div>
        </div>
        <div class="row add-party-container">
            <div class="col-md-12 text-end">
                <i id="addParty" class="fa fa-plus-circle"></i>
            </div>
        </div>
    </div>
    <div id="queueContainer" class="container">
<!--        <div class="row one-party text-start">-->
<!--            <div class="col text-center">-->
<!--                <p>Secure your spot</p>-->
<!--                <p>at the front of the line!</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row one-party text-start">-->
<!--            <p class="queue-num">1</p>-->
<!--            <p class="name">Simon Hoblik</p>-->
<!--            <p class="party">party: 6</p>-->
<!--        </div>-->
<!--        <div class="row one-party text-start">-->
<!--            <p class="queue-num">1</p>-->
<!--            <p class="name">Simon Hoblik</p>-->
<!--            <p class="party">party: 6</p>-->
<!--        </div>-->
<!--        <div class="row one-party text-start">-->
<!--            <p class="queue-num">1</p>-->
<!--            <p class="name">Simon Hoblik</p>-->
<!--            <p class="party">party: 6</p>-->
<!--        </div>-->
<!--        <div class="row one-party text-start">-->
<!--            <p class="queue-num">1</p>-->
<!--            <p class="name">Simon Hoblik</p>-->
<!--            <p class="party">party: 6</p>-->
<!--        </div>-->
<!--        <div class="row one-party text-start">-->
<!--            <p class="queue-num">1</p>-->
<!--            <p class="name">Simon Hoblik</p>-->
<!--            <p class="party">party: 6</p>-->
<!--        </div>-->
<!--        <div class="row one-party text-start">-->
<!--            <p class="queue-num">1</p>-->
<!--            <p class="name">Simon Hoblik</p>-->
<!--            <p class="party">party: 6</p>-->
<!--        </div>-->
<!--    </div>-->
</main>
</body>
</html>